<profile-proyect *ngIf="proyectSelect" [proyect] ="proyectSelect"></profile-proyect>

<div class="card border-primary mb-3" >
    <div class="card-header">Proyectos</div>
    <div class="card-body text-primary">
      <h4 class="card-title">Listado de proyectos</h4>

      <div class="my-2 text-left">
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/proyects/form']">
          Crear Proyecto
        </button>
      </div>
      <div *ngIf="proyects?.length==0" class="alert alert-info">
        No hay registros en la base de datos
      </div>

      <table class="table table-bordered table-striped " *ngIf="proyects?.length>0">
        <thead>
          <tr>
            <th *ngIf="authService.hasRole('ROLE_USER')" >#</th>
            <th>Nombre</th>
            <th>Intencion</th>            
            <th>Fecha</th>
            <th>Tecnologia</th>            
            <th  *ngIf="authService.hasRole('ROLE_ADMIN')">crear video</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyect of proyects">
            <td *ngIf="authService.hasRole('ROLE_USER')" ><img (click)="openModal(proyect)" *ngIf="proyect?.image"
              src="http://localhost:8080/api/uploads/img/{{proyect.image}}" alt="{{proyect.image}}" class="img-thumbnail rounded"
              style="width:64px; cursor: pointer;">
  
              <img (click)="openModal(proyect)" *ngIf="!proyect?.image"
                src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
                style="width:64px; cursor: pointer;">
              </td>
            
            
            <td>{{ proyect.name}}</td>
            <td>{{ proyect.intention }}</td>            
            <td>{{ proyect.createAt }}</td>
            <td>{{ proyect.technology }}</td>            
            <td  *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" class="btn btn-success btn-sm" [routerLink]="['/videos/form', proyect.id]">crear video</button></td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button type="button" name="editar"  [routerLink]="['/proyects/form', proyect.id]" class="btn btn-primary btn-sm">editar</button>
            </td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" (click)='delete(proyect)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
          </tr>
        </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

    </div>
  </div>
