<div class="card border-primary mb-3" >
    <div class="card-header">Proyectos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de proyectos</h5>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>intencion</th>            
            <th>fecha</th>
            <th>tecnologia</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyect of proyects">
            <td>{{ proyect.id }}</td>
            <td>{{ proyect.name}}</td>
            <td>{{ proyect.intention }}</td>            
            <td>{{ proyect.createAt }}</td>
            <td>{{ proyect.technology }}</td>
            <td>{{ proyect.email }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
